<div class="container">
	<div *ngIf="products" class="row">
		<div
			*ngFor="let product of products"
			class="col-6 col-sm-4 col-md-3 col-xl-3 col-xxl-2">
			<div class="card m-1">
				<div
					(click)="openProductDetail(product)"
					class="card-img d-flex justify-content-center cursor-pointer">
					<img
						class="responsive-img"
						src="{{ product.image[0] }}" />
				</div>
				<div
					(click)="openProductDetail(product)"
					class="mt-2 text-center px-2 cursor-pointer">
					<h6
						class="text-truncate"
						title="{{ product.productName }}">
						{{ product.productName }}
					</h6>
				</div>
				<div class="card-footer d-flex align-items-center">
					<div
						(click)="openProductDetail(product)"
						class="cursor-pointer d-flex align-items-center">
						<i class="fas fa-rupee-sign me-1 fs-18"></i>
						<label class="text-muted text-truncate d-block">{{
							product.price
						}}</label>
					</div>
					<div class="ms-auto d-flex align-items-center">
						<span
							(click)="addToCart(this.user.id, product.id)"
							class="me-2">
							<i
								*ngIf="!isInCart(product)"
								class="fas fa-cart-plus fs-18 cursor-pointer app-text-color"
								title="Add to cart"></i>
							<i
								*ngIf="isInCart(product)"
								class="fas fa-shopping-cart fs-18 cursor-pointer app-text-color"
								title="Add to cart"></i>
						</span>
						<span
							(click)="addToWishlist(this.user.id, product.id)"
							title="Add to wishlist">
							<i
								*ngIf="isInWishlist(product.id)"
								class="fas fa-star text-badge-color fs-18 cursor-pointer"></i>
							<i
								*ngIf="!isInWishlist(product.id)"
								class="far fa-star fs-18 app-text-color cursor-pointer"></i>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
