<div class="nav-height d-flex align-items-center w-100 app-bg-color sticky-top">
  <div [routerLink]="'/products'" class="ms-3 h6 text-white cursor-pointer">Home</div>
  <div [routerLink]="'/login'" class="ms-3 h6 text-white cursor-pointer">Login</div>
  <div [routerLink]="'/signup'" class="ms-3 h6 text-white cursor-pointer">Signup</div>
  <div [routerLink]="'/add-products'" class="ms-3 h6 text-white cursor-pointer">Add Product</div>
  <div *ngIf="hideSearchBar" class="float-end me-5 d-flex align-items-center ms-auto">
    <input class="search-input  form-control rounded-3 border-dark" placeholder="Search box">
    <img class="cursor-pointer border-dark search-icon rounded-end" height="38" src="assets/icons/search.gif"
         width="38">
  </div>
  <div class="ms-auto me-5 cursor-pointer dropdown btn btn">
    <div (mouseover)="openUserProfile()" class="text-white" data-bs-toggle="dropdown" id="dropdownMenuButton1">
      <div>
        <label class="me-1 fs-12">Hello</label>
        <label *ngIf="authService.user">{{authService.user.firstName}}</label>
        <label *ngIf="!authService.user">Sign in</label>
      </div>
      <div>
        <label class="fs-12">Account</label>
        <label class=" ms-2 dropdown-toggle"></label>
      </div>
    </div>
    <ul aria-labelledby="dropdownMenuButton1" class="dropdown-menu app-bg-color">
      <ng-container *ngIf="authService.user">
        <li><a class="dropdown-item text-white">Profile</a></li>
        <li><a class="dropdown-item text-white">Wishlist</a></li>
        <li><a class="dropdown-item text-white">Cart</a></li>
        <li><a class="dropdown-item text-white" (click)="logout()">Logout</a></li>
      </ng-container>
      <li *ngIf="!authService.user"><a class="dropdown-item" (click)="signIn()">Sign in</a></li>
    </ul>
  </div>
</div>

