@import "variables";

.nav-height {
  height: 50px;
}

.search-icon {
  border: 1px solid black;
}

input {
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

li {
  list-style-type: none;
}

.active {
  color: $specialColor!important;
}
