<div class="container">
    <div>
      <label>Product Name</label>
      <input [(ngModel)]="productName">
    </div>
    <div>
      <label>Product Category</label>
      <input [(ngModel)]="category">
    </div>
    <div>
      <label>Product Sub Category</label>
      <input [(ngModel)]="subcategory">
    </div>
    <div>
      <label>Price</label>
      <input type="number" [(ngModel)]="price">
    </div>
    <div>
      <label>Image </label>
      <input type="file" (change)="handleUpload($event)">
    </div>
  <button class="btn btn-danger" (click)="save()">save</button>

  <img src="{{srcImage}}">
</div>
