<div class="container-xl">
  <div *ngIf="products" class="row">
    <div *ngFor="let product of products" class="col-xxl-2 col-xl-3 col-md-4 col-sm-2">
      <div class="card">
        <img style="width: 13rem; height: 13rem" src="{{product.image[0]}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="text-truncate">{{product.productName}}</h6>
        </div>
        <div class="card-footer text-center">
          <img src="assets/icons/icons8-rupee-material-outlined-16.png">
          <small class="text-muted">{{product.price}}</small>
        </div>
      </div>
    </div>
  </div>
</div>
