@import "variables";

.user-section {
  height: 35px;
  width: 35px;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: $appColor !important;
  background-color: white;
}

.bg-badge-color {
  background-color: #1a2e35;
}

.dropdown-menu.show {
  padding-top: 0;
  padding-bottom: 0;
}
