<ngx-ui-loader
  fgsColor=" #ff735c" [hasProgressBar]="false" fgsType="square-jelly-box">
</ngx-ui-loader>
<app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>
<!--

<nav class="bg-secondary d-flex align-items-center ">
  <div class="w-100">
    <span><a class="text-light ms-5 text-decoration-none">Home</a></span>
    <span><a class="text-light me-5 text-decoration-none float-end" routerLink="signup">Signup</a></span>
    <span><a class="text-light me-5 text-decoration-none float-end" routerLink="login">Login</a></span>
    <span><a class="text-light ms-3 text-decoration-none">Resources</a></span>
  </div>
</nav>-->
