<div class="mx-3">
  <div class="row justify-content-center">
    <div class="d-none d-md-block col-sm-6 d-flex">
      <img class="img-fluid" src="assets/images/background/gif/Add%20to%20Cart%20(2).gif">
    </div>
    <div class="mt-5 col-12 col-sm-6 col-xl-5">
      <div class="text-center">
        <h1 class="app-text-color">Sign up</h1>
      </div>
      <form #form="ngForm" name="form" (ngSubmit)="submit(form)">
        <div class="input-group  mt-4">
          <label class="input-group-text bg-white" for="firstname">
            <img draggable="false" height="30" width="30" src="assets/icons/user.gif">
          </label>
          <input type="text" class="form-control shadow-none"
                 [ngClass]="(firstName.hasError('required')  && form.submitted)? 'border-danger' : ''"
                 name="firstname" [(ngModel)]="data.firstName" placeholder="Firstname" id="firstname"
                 #firstName="ngModel" required>
          <input type="text" class="form-control shadow-none"
                 name="lastname" [(ngModel)]="data.lastName" placeholder="Lastname" #lastname="ngModel" required>
        </div>
        <div class="input-group  mt-4">
          <label class="input-group-text bg-white" for="calender">
            <img draggable="false" height="30" width="30" src="assets/icons/icons8-tear-off-calendar.gif">
          </label>
          <input type="date" class="form-control shadow-none" name="dob"
                 [ngClass]="(firstName.hasError('required')  && form.submitted)? 'border-danger' : ''"
                 [(ngModel)]="data.dob" id="calender" #dob="ngModel" required>
        </div>
        <div class="input-group  mt-4">
          <span class="input-group-text bg-white">
            <img draggable="false" height="30" width="30" src="assets/icons/icons8-secured-letter.gif">
          </span>
          <input type="email" class="form-control shadow-none" name="email"
                 [(ngModel)]="data.email" placeholder="email" #email="ngModel" required>
        </div>
        <div class="input-group  mt-4">
          <span class="input-group-text bg-white">
            <img draggable="false" height="30" width="30" src="assets/icons/key-password.gif">
          </span>
          <input type="password" class="form-control shadow-none" name="password"
                 [(ngModel)]="data.password" placeholder="Password" #password="ngModel" required>
          <input type="password" class="form-control shadow-none" name="confirmPassword"
                 placeholder="Confirm password" [(ngModel)]="confirmPassword">
        </div>
        <button type="submit" class="btn app-bg-color text-white mt-4 w-100">Sign up</button>
      </form>
      <div class="mt-4 text-center">
        <label>Already a user ?<a class="ms-2" href="login">login</a></label>
      </div>
    </div>
  </div>
</div>
