<div class="mx-5">
  <div class="row mt-5">
    <div class="col-7 d-flex justify-content-center">
      <img src="assets/images/background/gif/Add%20to%20Cart.gif">
    </div>
    <div class="col-4">
      <div class="text-center">
        <h1 class="app-text-color">Sign up</h1>
      </div>
      <form>
        <div class="input-group  mt-4">
          <label class="input-group-text bg-white" for="firstname">
            <img draggable="false" height="30" width="30" src="assets/icons/user.gif">
          </label>
          <input type="text" class="form-control shadow-none"
                 name="firstname" [(ngModel)]="data.firstName" placeholder="Firstname" id="firstname">
          <input type="text" class="form-control shadow-none"
                 name="lastname" [(ngModel)]="data.lastName" placeholder="Lastname">
        </div>
        <div class="input-group  mt-4">
          <label class="input-group-text bg-white" for="calender" >
            <img draggable="false" height="30" width="30" src="assets/icons/icons8-tear-off-calendar.gif">
          </label>
          <input type="date" class="form-control shadow-none" name="dob"
               [(ngModel)]="data.dob" id="calender">
        </div>
        <div class="input-group  mt-4">
          <span class="input-group-text bg-white" >
            <img draggable="false" height="30" width="30" src="assets/icons/icons8-secured-letter.gif">
          </span>
          <input type="email" class="form-control shadow-none" name="email"
                  [(ngModel)]="data.email" placeholder="email">
        </div>
        <div class="input-group  mt-4">
          <span class="input-group-text bg-white">
            <img draggable="false" height="30" width="30" src="assets/icons/key-password.gif">
          </span>
          <input type="password" class="form-control shadow-none" name="password"
                 [(ngModel)]="data.password" placeholder="Password">
          <input type="password" class="form-control shadow-none" name="password"
                 placeholder="Confirm password">
        </div>
        <button class="btn app-bg-color  mt-4 w-100">Sign up</button>
      </form>
    </div>
  </div>
</div>
