<div class="bg-secondary nav-height d-flex align-items-center w-100 ">
  <span class="ms-3 h6 text-white cursor-pointer">Home</span>
  <span class="ms-3 h6 text-white cursor-pointer" routerLink="login">Login</span>
  <span class="ms-3 h6 text-white cursor-pointer" routerLink="signup">Signup</span>
  <span *ngIf="hideSearchBar" class="float-end me-5 d-flex align-items-center ms-auto" >
    <input class="search-input  form-control rounded-3 border-dark" placeholder="Search box">
    <img class="cursor-pointer border-dark search-icon rounded-end" height="38" width="38" src="assets/icons/search.gif">
  </span>
</div>

