.nav-height {
  height: 50px;
}

.search-icon {
  border: 1px solid black;
}

input {
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.user-section {
  height: 35px;
  width: 35px;
}
