<div *ngIf="user" class="card min-vh-100">
	<div class="h5 card-header">
		<span class="me-1">My Cart</span>
		<span class=""
			>({{ user.cart.cartProducts.length }})</span
		>
		<div class="float-end">
			<span class="text-muted">Total Amount : </span>
			<i class="fas fa-rupee-sign"></i>
			<span class="ms-1">{{ totalAmount }} </span>
		</div>
	</div>
	<div class="card-body py-0">
		<ng-container *ngIf="products.length === 0">
			<div class="d-flex justify-content-center">
				<div class="h-50 w-50">
					<img
						class="img-fluid"
						src="assets/images/background/gif/Empty.gif" />
				</div>
			</div>
		</ng-container>
		<ng-container *ngIf="products.length > 0">
			<div
				*ngFor="let product of products"
				class="row border-bottom mt-3 pb-3">
				<div
					class="col-4 col-sm-3 col-md-2 d-flex justify-content-center">
					<img class="thumbnail" src="{{ product.image[0] }}" />
				</div>
				<div class="col-5 col-sm-6 col-md-7">
					<div>
						<p
							class="h5 text-truncate"
							title="{{ product.productName }}">
							{{ product.productName }}
						</p>
					</div>
					<div class="d-flex align-items-center mt-2">
						<i class="fas fa-rupee-sign me-1"></i>
						<label class="text-muted text-truncate d-block">{{
							product.price
						}}</label>
					</div>
				</div>
				<div class="ms-auto col-auto">
					<button
						(click)="
							addToWishlist(product.id, products.indexOf(product))
						"
						class="btn d-block app-bg-color text-white w-100 mb-3">
						Buy Later
					</button>
					<button
						(click)="
							removeFromCart(product.id, products.indexOf(product))
						"
						class="btn w-100 app-bg-color text-white">
						Remove
					</button>
				</div>
			</div>
		</ng-container>
	</div>
	<div></div>
	<div
		*ngIf="products.length > 0"
		class="sticky-bottom d-flex">
		<button
			class="mx-auto btn app-bg-color btn-lg text-white w-50">
			<span>Buy Now</span>
			<i class="fas fa-rupee-sign ms-1"></i>
			<span class="ms-1">{{ totalAmount }} </span>
		</button>
	</div>
</div>
