<div class="container border border-1 vh-100">
  <div class="row">
    <div class="col-2 list-group">
      <ul class="list-group">
        <li class="list-group-item">Username</li>
        <li class="list-group-item cursor-pointer" routerLink="user-profile" >User Profile</li>
        <li class="list-group-item cursor-pointer">Your Order History</li>
        <li class="list-group-item cursor-pointer">Track Your Orders</li>
        <li class="list-group-item cursor-pointer">Your Cart</li>
        <li class="list-group-item cursor-pointer">Your wishlist</li>
        <li class="list-group-item cursor-pointer">Sell A product</li>
        <li class="list-group-item cursor-pointer">Your products</li>
        <li class="list-group-item cursor-pointer">Settings</li>
      </ul>
    </div>
    <div class="col-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
