<div class="bg-info bg-image" style="height: 100vh; width: 100vw">
  <div class="center">
    <div class="border border-2 border-secondary text-center p-5 rounded-3 bg-white">
      <h1 class="mb-5">Login</h1>
      <div class="input-group input-group-lg">
        <span class="input-group-text bg-white" id="inputGroup-sizing-lg"><img height="30" width="30"
                                                                      src="assets/icons/user.gif"></span>
        <input type="text" class="form-control" aria-label="Sizing example input"
               aria-describedby="inputGroup-sizing-lg" placeholder="Username">
      </div>
      <div class="input-group input-group-lg mt-4">
        <span class="input-group-text bg-white"><img height="30" width="30" src="assets/icons/key-password.gif"></span>
        <input type="password" class="form-control" aria-label="Sizing example input"
               placeholder="Password">
      </div>
      <div>
        <button class="btn btn-primary mt-3  w-100">Login</button>
      </div>
      <div class="mt-4">
        <button class="btn w-50">facebook</button>
        <button class="btn w-50"><img height="60" width="60" src="assets/images/gmail.gif"></button>
      </div>
    </div>
  </div>
</div>
