<div class="row mx-5">
  <div class="d-none d-xl-block col-xl-7">
    <div class="m-0 p-0 d-flex justify-content-center">
      <img draggable="false" class="img-fluid" src="assets/images/background/gif/cart.gif">
    </div>
  </div>
  <div class="col col-xl-5 text-center rounded-3 mt-5">
    <h1 class="mb-5 app-text-color">Login</h1>
    <form>
      <div *ngIf="wrongCredentials" class="d-flex justify-content-center">
        <p class=" alert-danger w-50 rounded-2 ">{{message}}</p>
      </div>
      <div class="input-group input-group-lg">
        <span class="input-group-text bg-white" id="inputGroup-sizing-lg">
          <img draggable="false" height="30" width="30"
               src="assets/icons/user.gif">
        </span>
        <input type="email" class="form-control shadow-none"
               placeholder="Username" name="email" [(ngModel)]="data.username" (ngModelChange)="checkValue()">
      </div>
      <div class="input-group input-group-lg mt-4">
        <span class="input-group-text bg-white">
          <img draggable="false" height="30" width="30"
               src="assets/icons/key-password.gif">
        </span>
        <input type="password" class="form-control shadow-none" aria-label="Sizing example input"
               name="password" [(ngModel)]="data.password" placeholder="Password" (ngModelChange)="checkValue()">
      </div>
      <div class="text-start mt-2">
        <a class="fs-14 cursor-pointer">Forgot password ?</a>
      </div>
      <div>
        <button type="submit" [disabled]="loginDisable" class="btn app-bg-color mt-3 w-100 text-white shadow-none"
                (click)="login()">Login
        </button>
      </div>
    </form>
    <div class="mt-4 d-flex justify-content-evenly">
      <button class=" btn bg-facebook shadow-none">
        <img draggable="false" height="30" src="assets/icons/facebook.gif">
      </button>
      <button class=" btn bg-gmail shadow-none">
        <img draggable="false" height="30" src="assets/icons/icons8-gmail-logo.gif">
      </button>
    </div>
    <div class="mt-4 text-center">
      <label>Create a new account ?<a class="ms-2" href="signup">Signup</a></label>
    </div>
  </div>

</div>
