<div class="mx-3">
	<div class="row justify-content-center">
		<div class="d-none d-md-block col-sm-6 d-flex">
			<img
				alt="cart image"
				class="img-fluid"
				src="assets/images/background/gif/Add%20to%20Cart%20(2).gif" />
		</div>
		<div class="mt-5 col-12 col-sm-6 col-xl-5">
			<div class="text-center">
				<h1 class="app-text-color">Sign up</h1>
			</div>
			<form [formGroup]="form">
				<div class="form-floating mt-3">
					<input
						class="form-control shadow-none"
						formControlName="firstName"
						id="firstName"
						placeholder="First name"
						type="text" />
					<label for="firstName">First name</label>
				</div>
				<div class="form-floating mt-3">
					<input
						class="form-control shadow-none"
						formControlName="lastName"
						id="lastName"
						placeholder="Last name"
						type="text" />
					<label for="lastName">Last name</label>
				</div>
				<div class="form-floating mt-3">
					<input
						class="form-control shadow-none"
						formControlName="username"
						id="username"
						placeholder="Username"
						type="text" />
					<label for="username">Username</label>
				</div>
				<small *ngIf="username.errors?.minLength"
					>Must contain 4 characters</small
				>
				<small
					*ngIf="username.errors?.usernameTaken"
					class="text-danger"
					>Username already exist</small
				>
				<div class="form-floating mt-3">
					<input
						class="form-control shadow-none"
						formControlName="email"
						id="email"
						placeholder="name@example.com"
						type="email" />
					<label for="email">Email address</label>
				</div>
				<small *ngIf="email.errors?.email" class="text-danger"
					>Invalid email</small
				>
				<div class="form-floating mt-3">
					<input
						class="form-control shadow-none"
						formControlName="password"
						id="Password"
						placeholder="Password"
						type="password" />
					<label for="Password">Password</label>
				</div>
				<small
					*ngIf="password.errors?.passwordStrength"
					class="text-danger"
					>Must contain [A-Z],[a-z] & [0-9]</small
				>
				<div class="form-floating mt-3">
					<input
						class="form-control shadow-none"
						formControlName="confirmPassword"
						id="confirmPass"
						placeholder="Password"
						type="password" />
					<label for="confirmPass">Confirm password</label>
				</div>
				<button
					[disabled]="!form.valid"
					class="btn app-bg-color text-white mt-4 w-100"
					type="submit">
					Sign up
				</button>
			</form>
			<div class="mt-4 text-center">
				<label
					>Already a user ?<a class="ms-2" href="login">login</a>
				</label>
				{{ form.value | json }}
				{{ form.valid | json }}
			</div>
		</div>
	</div>
</div>
