<div *ngIf="user">
	<div class="card min-vh">
		<div class="card-header h5">
			<span>User Details</span>
		</div>
		<div class="card-body">
			<div class="d-flex mt-3">
				<h3 class="text-muted mx-3">First name :</h3>
				<h4 class="text-black">{{ user.firstName }}</h4>
			</div>
			<div class="d-flex mt-3">
				<h3 class="text-muted mx-3">Last name :</h3>
				<h4 class="text-black">{{ user.lastName }}</h4>
			</div>
			<div class="d-flex mt-3">
				<h3 class="text-muted mx-3">Username:</h3>
				<h4 class="text-black">{{ user.username }}</h4>
			</div>
			<div class="d-flex mt-3">
				<h3 class="text-muted mx-3">Account created on:</h3>
				<h4 class="text-black">{{ user.date }}</h4>
			</div>
			<div class="d-flex mt-3">
				<h3 class="text-muted mx-3">Email :</h3>
				<h4 class="text-black">{{ user.email }}</h4>
			</div>
		</div>
	</div>
</div>
