<div>
  <div class="d-flex mt-3">
    <h3 class="text-muted mx-3">First name :</h3>
    <h4 class="text-black">{{userDetails?.firstName}}</h4>
  </div>
  <div class="d-flex mt-3">
    <h3 class="text-muted mx-3">Last name :</h3>
    <h4 class="text-black">{{userDetails?.lastName}}</h4>
  </div>
  <div class="d-flex mt-3">
    <h3 class="text-muted mx-3">Username:</h3>
    <h4 class="text-black">{{userDetails?.username}}</h4>
  </div>
  <div class="d-flex mt-3">
    <h3 class="text-muted mx-3">Account created on:</h3>
    <h4 class="text-black">{{userDetails?.date | json}}</h4>
  </div>
  <div class="d-flex mt-3">
    <h3 class="text-muted mx-3">Email :</h3>
    <h4 class="text-black">{{userDetails?.email}}</h4>
  </div>
</div>
